/*colors & bg*/

.red {
	color: #e2534b !important;
}
.green {
	color: #62b9b0 !important;
}
.gray {
	color: #ececec !important;
}
.white {
    color: #fff;
}
.blue {
    color: #2980B9 !important;
}
.yellow {
    color: #FFBE53 !important;
}
.bg_yellow {
    background-color: #FFBE53 !important;
}
.dark_blue {
    color: #33414e !important;
}
.bg_white {
    background-color: #fff !important;
}
.bg_blue {
    background-color: #2980B9 !important;
}
.bg_red {
    background-color: #e2534b !important;
}
.bg_green {
    background-color: #62b9b0 !important;
}
.bg_gray {
    background-color: #ececec !important;
}


/*default styles*/


*::-webkit-input-placeholder {
	color: #ADB6BA;
	opacity: 1;
}
*:-moz-placeholder {
	color: #ADB6BA;
	opacity: 1;
}
*::-moz-placeholder {
	color: #ADB6BA;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #ADB6BA;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
/*
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}*/

body {
	/*font-family: 'Open Sans', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-srif;*/
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	/*overflow-x: hidden;*/
    overflow-y: scroll;
	background-color: #f3f3f3;
}
h1,h2,h3 {
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 700;
	color: #333;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
}
b {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
p {
	color: #7f8c8c;
}
hr {
	height: 4px;
	background-color: #e5e6e6;
}
ul.lists {
	margin: 0;
	padding: 0;
}
/*.container-fluid {
    max-width: 1545px;
}*/
.center_wh {
    text-align: center;
}

header {
    max-height: 70px;
}

.top_menu {

    position: fixed;
    height: 70px;
    margin-left: 45px;
}

.top_menu ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    height: 100%;
}
.top_menu ul li {
    display: inline-block;
    height: 100%;
}
/*.top_menu ul li:hover {
    border-bottom: #33414e 4px solid;
    transition: all .25s;
}*/
.top_menu ul li.active {
    /*Стиль для выбранного эл.*/
}
.top_menu a {
    height: 100%;
    
    text-decoration: none;
    color: #fff;
    padding: 22px;
    display: block;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.top_menu a:hover {
    text-decoration: underline;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
canvas {
  display: block;
  width: 100vw;
  min-width: 100%;
  height: 70px;
  cursor: pointer; 
  position: absolute;
}
input[type=text], input[type=password], textarea {
    /*padding: 8px;
    border: 1px solid #EEEFF2;
    border-radius: 8px;
    color: #666;
    width: 300px;
    outline: none;
*/
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}
.full_size {
    width: 100% !important;
}
.half_size {
    width: 50% !important;
}
.no_fl {
    float: none !important;
}
#counter {
    display: inline-block;
    background: #2b3945;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 90px;
    border-radius: 5px;
}
.count_message {
    font-size: 15px !important;
}
#counter_sw {
    display: inline-block;
    background: #2b3945;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 90px;
    border-radius: 5px;
}
.count_message_sw {
    font-size: 15px !important;
}
textarea {
    height: 250px;
    resize: none;
}
/*form button {
    background: #34C0E2;
    color: #fff !important;
    border: 1px solid #34C0E2;
    padding: 8px;
    border-radius: 8px;
}
form input[type=submit], input[type=reset]{
    background: #34C0E2;
    color: #fff !important;
    border: 1px solid #34C0E2;
    padding: 8px;
    border-radius: 8px;
}*/
form button, input[type=submit], input[type=reset] {
    transition: 0.3s;
    /*width: 200px;
    background-color: #2980B9;
    border: none;
    border-radius: 5px;*/
    border: none;
    color: #fff;
    /*border-radius: 23px;*/
    /*border: 3px #ffbe53 solid;*/
    background: #1b71a9;
    color: #fff;
    /*text-transform: uppercase;*/
    padding: 4px 34px;
    transition: 0.3s;
    text-decoration: none;
    /*display: block;*/
        /*padding: 15px 5%;*/
        /*padding: 8px;*/
    text-align: center;
    /*border-bottom: #1b71a9 4px solid;
    margin: 5px 0;*/
}
form button:hover, input[type=submit]:hover, input[type=reset] :hover {
/*background-color: #e8645a;
border-bottom: #e2534b 4px solid;
transition: 0.3s;*/
    background-color: #ffbe53;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
}
.input, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1.4rem;
    height: 250px;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    /*background-color: #ececec;*/
    border-color: #555;
    color: #f6eae1;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    color: #444;
}
.input {
    border-color: #555 !important;
    height: 2.5em;
    border-radius: 0 !important;
}

.input:focus, .textarea:focus{
    outline: none;
    
    box-shadow: none;
}
textarea:focus, input:focus {
    background-color: #fff;
}
textarea:focus, input:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #CD412B !important;
    /*box-shadow: 0 0 0 0.125em rgba(205, 65, 43, 0.25);*/
}
select {
  border: 1px solid #111;
  background: transparent;
  min-width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/assets/img/angle-arrow-down.svg) 97% / 15% no-repeat #eee;
  background-size: 21px;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}
/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}
.lists li {
	padding-top: 5px;
    list-style-type: none; 
    font-size: 14px;
    color: #777777;
   }
.lists li.arrow_green:before {
	margin: 5px;
    content: "\f061";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.cross_green:before {
	margin: 5px;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.plus_green:before {
	margin: 5px;
    content: "\f055";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.circle_green:before {
	margin: 5px;
    content: "\f138";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.check_green:before {
	margin: 5px;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.arrow_red:before {
	margin: 5px;
    content: "\f061";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.cross_red:before {
	margin: 5px;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.plus_red:before {
	margin: 5px;
    content: "\f055";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.circle_red:before {
	margin: 5px;
    content: "\f138";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.check_red:before {
	margin: 5px;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.hidden {
	display: none;
}
section.mainer {
    height: 100vh;
    min-height: 800px;
    width: 100%;
    min-width: 100%;
    background-image: url(/assets/img/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}
.bg_noise::before{
    background-image: url(/assets/img/test.png);
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
}
@-webkit-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
 .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
}
.scroll-btn > * {
    
    line-height: 18px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
section.main_content {
    /*background-color: #182A46;
    background-image: url(/img/Stars_BG.png);*/
    background-color: #f3f3f3;
    padding-top: 70px;
    /*padding-bottom: 25px;*/
    height: auto !important;
    min-height: 100vh;
}
button.accordion {
    background-color: #f8f8f8;
    color: #7f8c8c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 7px;
    margin-top: 7px;
    border-bottom: #d9d9d9 4px solid;
    transition: 1s;
    font-family: 'Open Sans', sans-serif !important;
	font-weight: 800 !important;
}

button.accordion.active{
    background-color: #fff;
    border-radius: 7px 7px 0  0;
    border-bottom: none;
    transition: 1s;
}
button.accordion:hover {
    background-color: #fff;
    border-radius: 7px;
}
button.accordion.active:hover{
    background-color: #fff;
    border-radius: 7px 7px 0  0;
    border-bottom: none;
}
button.accordion:after {
    content: "\f055";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: FontAwesome;
    font-size: 20px;
}

button.accordion.active:after {
    content: "\f056";
    font-family: FontAwesome;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 7px 7px;
    
}
div.panel.active {
	border-bottom: #d9d9d9 4px solid;
}
section.info_box_block {
	margin-top: 25px;
}
.info_box {
	background-color: #f8f8f8;
	width: 100%;
	height: 330px;
	position: relative;
	margin-bottom: 50px;
    border-radius: 7px;
    border-bottom: #e5e6e6 4px solid;
    transition: 0.2s;
}
.info_box:hover {
	background-color: #fff;
}
.info_box:hover .icon{
	color: #e2534b;
}
.info_box h2{
	font-size: 16px;
	color: #7f8c8c;
	text-align: center;
	text-transform: uppercase;
}
.info_box p{
	margin: 20px;
	text-align: center;
	color: #777777;
	font-size: 13px;
}
.info_box .icon{
	padding-top: 25px;
	text-align: center;
	font-size: 65px;
	color: #85c875;
	transition: 0.2s;
}
.info_box .icolor_v1{
    color: #e74c3c;
}
.info_box .icolor_v2{
    color: #FFBE53;
}
.info_box .icolor_v3{
    color: #2980B9;
}
.info_box .icolor_v4{
    color: #282741;
}
.info_box .icon:hover{
	color: #e2534b;
}
.info_box button {
position: absolute;
left: 50%;
margin-left: -100px;
bottom: -30px;
}
button.submit {
    transition: 0.2s;
    width: 200px;
    /*background-color: #76c7c0;*/
	background-color: #2980B9;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 15px 0px;
    text-align: center;
    border-bottom: #21638e 4px solid;
    /*border-bottom: #62b9b0 4px solid;*/
}
button.submit:hover {
background-color: #e8645a;
border-bottom: #e2534b 4px solid;
}
button.submit_v2, input[type=submit].submit_v2, input[type=reset].submit_v2, input[type=button].submit_v2 {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1.5rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2980B9;
    border-color: #286b98;
    color: #f6eae1;
    cursor: pointer;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
 button.submit_v2:hover,
 input[type=submit].submit_v2:hover,
 input[type=reset].submit_v2:hover,
 input[type=button].submit_v2:hover {
    background-color: #e8645a;
    border: 1px solid;
    border-color: #C44C57;
    /*border-color: transparent;*/
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
button.submit_v2:active {
    padding-top: 1px;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
section.gallery {
    margin-bottom: 30px;
}
.portfolio_item {
  padding: 0; }
  .portfolio_item img {
    width: 100%; }
   .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 15%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: rgba(0,0,0,.6);
    border: #F34E30 2px solid;
    padding: 3px 10px;
    color: #999;
    text-transform: uppercase;
     }
.portfolio_item a:hover {
    color: #fff;
    border: #B63B24 2px solid;
}
.portfolio_item p {
    color: #B63B24;
}
    .podrt_descr {
    /*background-color: #fff;*/
    max-width: 70%;
    margin: auto;
}
.modal-content {
  position: relative !important; }
.modal-content img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}
#portfolio_grid {
    margin-top: 20px;
    -webkit-box-shadow: #E9E9E9 0 0 0 1px inset;
    box-shadow: #E9E9E9 0 0 0 1px inset;
    /*background-color: #eee;*/
    /*padding: 20px;*/
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}
.masonry-container {
    padding: 0;
}
.grid-sizer {
    width: 25%;
    float: left;
    min-height: 1px;
}
.item {
    height: 240px;
}
.item img {
    width: 100%;
}

  .item .item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  .item:hover .item_cont {
    opacity: 1;
    padding-top: 15%; }
  .item h3 {
    color: #fff;
    margin-bottom: 0; }
  .item a {
    background-color: rgba(0,0,0,.6);
    border: #F34E30 2px solid;
    padding: 3px 10px;
    color: #999;
    text-transform: uppercase;
     }
.item a:hover {
    color: #fff;
    border: #B63B24 2px solid;
}
.item p {
    color: #B63B24;
}
.modal-box-content {
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}
.modal-box-content img{
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    height: auto !important;
}
.podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px;
}
.podrt_descr p, .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0;
}
.podrt_descr img {
    width: 100%;
    /*margin-top: 10px;*/
}





ul.project_details {
    margin: 0;
    padding: 0;
}
ul.project_details li {
    list-style: none;
    border-bottom: 1px solid #e1e2e2;
    padding: 10px 5px;
    color: #777;
    display: block;
    position: relative;
}
ul.project_details li span#desc{
    display: inline-block;
    width: 50%;
    text-align: left;
    height: 100%;
}
ul.project_details li span#desc_val{
    display: inline-block;
    width: 50%;
    text-align: right;
}
ul.project_details li span#desc_val a{
    color: #e2534b;
}






.files_grid {
    width: 100%;
}
.files_grid a {
    display: table;
}
.files_grid a img {
    width: 50px;
}




.gall_item {
	height: 270px;
	background-color: #eee;
	border-radius: 6px;
	overflow: hidden;
}
.gall_item img {
    width: auto;
    height: 100%;
}
.gall_item .item_cont {
	border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33414e;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; 

        }
    .gall_item .item_cont a {
        outline: none !important;
    }
   .square:hover > .item_cont {
    opacity: 1 !important;
    padding-top: 41% !important; 
}
  .gall_item:hover .item_cont {
    opacity: 1;
    padding-top: 110px; 
}
.gitem {
	height: 270px;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 30px;
}
.square {
	width: 100% !important;
    padding-top: 100% !important;
    height: auto !important;
}
.gal_veiw,
.gal_link {
	background-color: #2980B9;
	padding: 7px 10px;
	border-radius: 5px;
	margin: 6px;
	color: #fff;
	font-size: 25px;
}
.gal_link {
    background-color: #FFBE53;
}
.gal_veiw:hover{ 
background-color: #e2534b;
}
.gal_link:hover{ 
background-color: #e2534b;
}
.gitem h2 {
	color: #fff;
	font-size: 17px;
}
.FullArt img {
    position: relative !important;
    width: 100% !important;
    height: auto !important; 
    left: 0 !important; 
}
/*
section.tabs_block::before{
    content: "";
    position: absolute;
    max-height: 500px;
    background-image: url(/img/header_bg.png);
    width: 87% !important;
    padding-top: 51% !important;
    height: auto !important;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 2%;
    background-size: contain;
}*/
section.tabs_block {
	margin-top: 25px;
	margin-bottom: 50px;
    position: relative;
}
section.accordion_block {
	margin-top: 25px;
	margin-bottom: 50px;
}




.nav-pills {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.nav-pills > li {
  float: left !important;
  -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.nav-pills > li > a {
  border-radius: 6px 6px 0 0 !important;
}
.nav-pills > li {
  margin-left: 0px !important;
  margin-right: 10px !important;
  background-color: #999;
  border-radius: 6px 6px 0 0 !important;
}
ul.nav li:last-child{
	margin-right: 0px !important;
	}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:active {
	background-color: #e2534b !important;
}
.nav-pills > li > a {
	color: #fff !important;
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif !important;
	  font-weight: 800 !important;
}
.nav-pills > li.active {
    background-color: #f8f8f8 !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > span,
.nav-pills > li.active > span:hover,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #7f8c8c !important;
  background-color: #f8f8f8 !important;
  font-family: 'Open Sans', sans-serif !important;
	  font-weight: 800 !important;
}
.reviews {
/*
    background: #F1F6FC;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;*/
    background: #f3f3f3;
    border: 1px solid #2980B9;
    color: #444;
    padding: 15px;
    /* border-radius: 10px; */
    margin: 10px 0;
}


.reviews span {
    color: #888;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.unvisit {
    background-color: #ffe4e4 !important;
}
.users {
    background-color: #eee;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin-top: 200px;
    width: auto;
    display: block;
}
.user {
    padding: 5px 0;
    color: #2c3e50;
}
.container-block_white {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
}
/*.avatar_container {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
}*/
.avatar_container .avatar {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 220px;
    width: 100%;
}
.avatar_container .avatar img {
    width: 100%;
    
}
.avatar_container button {
    margin-top: 20px;
    width: 100%;
}
/*.user_inform {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
}*/
.user_inform hr {
    height: 1px;
    background-color: #f3f3f3;
}
.user_inform .flex_inf{
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*.friend_request {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
    overflow: hidden;
}*/
.friend_request p {
    margin: 0;
}
.friend_request a {
    float: right;
}
.friend_request a:hover {
    text-decoration: none;
}
.achievement_inf {
    min-height: 150px;
    padding: 20px;
    background-color: rgba(243, 243, 243, 0.5);
    border-radius: 5px;
    flex-basis: 190px;
    text-align: center;
    font-size: 35px;
}
.achievement_inf.one i{
    color: #e2534b;
}
.achievement_inf.two i{
    color: #FFBE53;
}
.achievement_inf i {
    font-size: 130px;
    color: #2980B9;
}
.WhitePost {
    text-align: center;
    min-height: 150px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 2px;

}
.WhitePost p {
    color: #444;
    font-size: 20px;
}
.WhitePost a {
    width: 100%;
    background-color: #e2534b;
    display: block;
    padding: 10px 0;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
}
.WhitePost #plist {
    padding: 0;
    width: 100%;
    background-color: transparent;
    display: inline-block;
    margin: 5px 0;
    color: #888;
    text-align: left;
    border-radius: 2px;
}
.u_avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.u_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.info_user {
    display: block;
    width: 50%;
    float: left;
}
.info_avatar_user {
    display: block;
    width: 50%;
    float: right;
}
.delblog {
    float: right;
}

.MessageBlock {
    background-color: #33414E;
    color: #ecf0f1;
    padding:20px 0;
    text-align: center;
    display: block;
    z-index: 100;
    position: relative;
}

.MessageBlock b{
    color: #e74c3c;
}
.navigator {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navigator a {
    border: 1px solid #dadada;
    display: inline-block;
    padding: 1rem 1.6rem;
    margin: 2px;
    text-decoration: none;
    background-color: rgb(220, 220, 220);
    color: #000;
    cursor: pointer;
    border-radius: 3px;
}
.navigator a:hover {
    background-color: #f24e30;
    color: #000;
    text-decoration: none;
}
.navigator .active {
    background-color: #f24e30;
}
.navigator p {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    background: rgba(220,220,220,0.4);
    color: #000;
}
.unveiw {
    background-color: #c9c9c3;
}
.text_error {
    color: #f24e30;
}
.clip {
    width: 40%;
    overflow: hidden;
    white-space: nowrap; 
    -o-text-overflow: ellipsis; 
    text-overflow: ellipsis; 
    border: 1px solid red;
}
.tab-content > .tab-pane {
  display: none !important;
  border-radius: 6px 6px !important;
}
.tab-content > .active {
  display: block !important;
  background-color: #f8f8f8;
  padding: 20px 30px 30px;
  border-radius: 0 0 10px 10px !important;
  border-bottom: #d9d9d9 4px solid;
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 10px solid #33414e;
  background-color: #f3f3f3;
  /*Box Shadow - (Optional)
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;*/
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}
section.attention_line {
    padding: 20px 0;
}
section.attention_line .order  {
    background-color: #ececec;
    padding: 25px 0;
    border-radius: 7px;
    color: #7f8c8c;
}
section.attention_line .order .order_descr {
    font-size: 22px;
    padding-top: 5px;
}
section.attention_line .order .order_descr p{
    font-size: 13px;
    color: #777777;
}
section.attention_line .order button {
    float: right;
}


/* Important styles */
#toggle {
    position: absolute;
    leftaaa: 0px;
    display: block;
    width: 51px;
    height: 45px;
    margin: 13px auto 10px;
    padding-left: 30px;
    padding-right: 50px;
    cursor: pointer;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  top: 19px;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 28px;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

section.slider {
    margin-top: 20px;
}

/*slide menu*/
.slider_array {
    width: 100%;
    padding: 20px;
    background: #62b9b0;
    opacity: 0.5;
}
.slide_mini img {
    max-width: 200px;
    max-height: 200px;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  /*background: #33414e;*/
  background-color: rgb(40, 43, 48);
  /*padding-top: 70px;*/
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  /*overflow: hidden;*/
}

.slideout-open .slideout-menu {
  display: block;
}
.slide_menu_button {
    /*padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    top: 11px;
    color: #fff;
    background-color: transparent;
    border: medium none;
    font-size: 30px;
    position: absolute;
    outline: none;*/
}
.menu a {
    display: block;
    color: #eee;
    padding: 10px 35px;
    text-transform: uppercase;
}
.menu a:hover {
    background: #1c1e21;
    color: #fff;
    text-decoration: none;
}
.menu p {
    display: block; 
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}
.menu span {
    color: #e74c3c;
    font-size: 10px;
}
.search_input {
    width: 100%;

}
.search_input input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0;
    border: none;
    height: 70px;
    font-size: 15px;
    color: #fff;
    background-color: #1c1e21;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 40px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-bottom: 2px solid #1c1e21;
    transition: .5s ease;
}

.search_input input[type=search]:focus {
    width: 100%;
    outline: none;
    box-shadow: none;
    background-color: #1c1e21;
    border-bottom: 2px solid #bd464f; 
}
.btn_search {
    position: absolute;
    border: none;
    right: 5px;
    padding: 0;
    padding-top: 3px;
    top: 17px;
    transition: 0.2s;
    width: 30px;
    background-color: transparent;
    border-bottom: transparent 4px solid;
    border-radius: 5px;
    color: #fff;
    display: block;
    
    text-align: center;
}
.btn_search:hover {
    background-color: #e8645a;
    border-bottom: #e8645a 4px solid;
    transition: 0.3s;
}
/*preloader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e8645a;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


.headband {
    max-height: 2000px;
    height: 100%;
    width: 100%;
    background: #32569d;
    z-index: 10;
    height: 600px;
    position: absolute;
    overflow: hidden;
}
.anime {
    height: 600px;
    width: 100%;
}
.bg_cloud {
    background: #32569d;
    height: 203px;
    margin-top: -203px;
}
@keyframes cloud_1 {
    from { background-position: 1369px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   @keyframes cloud_2 {
    from { background-position: 2060px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   @keyframes raduga {
    from { background-position: 1000px 100%, 120% 30%, 120% 15%, 0 0;}
    to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
    50% {
        margin-top: 30px;
    }
   }
   @keyframes finn {
    50% {
        margin-top: 30px;
        height: 158px;
    }
   }
@keyframes star {
    from { background-position: 457px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
.cloud_1 {
    z-index: 200;
    bottom: 0px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    height: 188px;
    background: url('../img/obl_2.png') repeat-x;

    animation: cloud_2 25s linear infinite;
}

.raduga {
    margin-top: 0px;
    position: absolute;
    top: 100px;
    left: -500px;
    z-index: 5;
    height: 108px;
    width: 1500px;
    background: url('../img/raduga.png') repeat-x;

    animation: raduga 3s linear infinite;
}
.cloud_2 {
    z-index: 100;
    bottom: 0px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    height: 205px;
    background: url('../img/cloud2.png') repeat-x;

    animation: cloud_1 45s linear infinite;
}


.center_main {
    top: 50%;
    margin-top: -100px;
    position: absolute;
    width: 100%;
    text-align: Center;
    color: #fff;
}
.finn {
    position: absolute;
    left: 840px;
    top: 59px;
    z-index: 10;
    width: 276px;
    height: 155px;
    background: url('../img/finn_a.png') no-repeat;
    background-size: contain;
    transform: scale(1, -1);

     animation: finn 3s linear infinite;
}
.star {
    z-index: 200;
    top: 10px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    height: 267px;
    background: url('../img/stars.png') repeat-x;

    animation: star 5s linear infinite;
}
#line {
    top: 50%;
    margin-left: -150px;
    width: 300px;
    margin-top: 10px;
    height: 3px;
    background: #99ffc9;
    text-align: Center;
    vertical-align: middle;
}
.line_h {
    border: none; /* Убираем границу */
    background-color: #98E051; /* Цвет линии */ /* Цвет линии для IE6-7 */
    height: 4px; /* Толщина линии */
    align:center;
    width: 300px;
}
.imag_day img {
    width: 100%;
}


#load_p {
    background-color: #1E8BC3;
    border-radius: 0;
    height: 60px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    max-width: 400px;
    border: none;
    color: #fff;
    border-radius: 3px;
}
#loadingbar {
    margin: 50px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 62px;
    height: 20px;
    background-image: url('../img/loading.gif');
}

.news_item {
    
    background: #fff;
    margin-top: 20px;
    border: 1px solid #DDD;
}

.item-content h2 {
    font-size: 1.375em;
    padding-top: 0px;
    padding-left: 20px;
    color: #4c4d51;
    margin: 0;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
    line-height: 1.35;

}
#link_item_news {
    text-decoration: none;
}
#link_item_news:hover .pos-title{
    text-decoration: underline;
}
.img_item_news {
    overflow: hidden;
    width: 100%;
    max-height: 250px;
}
.img_item_news img{
    /*object-fit: cover;*/
    width: 100%;
}
.news_item .special {
    right: 15px;
    position: absolute;
    overflow: hidden;
    height: 400px;
    width: 400px;
    z-index: 50;
}
.news_item .special::before{
    content: "";
    width: 300px;
    height: 300px;
    background: #F9C766;
    position: absolute;
    top: -190px;
    right: -221px;
    transform: rotate(40deg);
    -webkit-transform: rotate(-47deg);
    -moz-transform: rotate(-47deg);
    -o-transform: rotate(-47deg);
    transform: rotate(-47deg);
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   /*box-shadow: 24px 23px 14px -26px #000000 inset;*/
    z-index: 50;
}
.news_item .special span {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 100;
    color: #B38630;
    font-size: 35px;
}
.info_item_news {
    text-align: center;
    padding: 0 10px;
}
.info_item_news span {
    padding-left: 10px;
}
.info_item_news #comments {
    color: #FFBE53;
}
.info_item_news #like {
    color: #e2534b;
}
.info_item_news #watch {
    color: #2980B9;
}
.info_item_news #author {
    color: #282741;
}
.main_item_text {
    max-height: 200px;
    overflow: hidden;
}

.item-content {
    padding: 3.2% 5%;
    display: block;
}
.item-content img {
    width: 100%;
}
.item-content .td {
    vertical-align: middle;
}
.td {
    display: table-cell;
    vertical-align: top;
}
.item-date {
    display: block;
    width: 68px;
    height: 68px;
    padding-top: 17px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 17px;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    color: #fff;
    background-color: #2980B9;
}
.item-date small {
    font-size: 12px;
    color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.title-cat {
    font-weight: 700;
    font-size: 16px;
    display: block;
    opacity: .4;
}
.item_article_content {
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.item_article_content iframe{
    width: 100%;
}
.item-link {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 35px;
    position: relative;
    margin-top: 20px;
}

.box-comments {
    padding: 25px 0;
}
.box-comments h3 {
    font-weight: 700;
    font-size: 17px;
    border-bottom: #efefef 1px solid;
    padding: 0 35px 10px;
    margin-bottom: 15px;
}
.box-comments .dsq-widget-item {
    padding: 10px 15px;
    border-bottom: #efefef 1px solid;
}
.box-comments .dsq-widget-item p {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 4px;
    margin-top: 2px;
}
.box-comments .dsq-widget-meta {
    clear: both;
    font-size: 80%;
    padding: 0;
    margin: 0;
}
.box-comments .dsq-widget-meta a{
    font-size: 80%;
    color: #999;
    text-decoration: underline;
}

section.fullpage {
    min-height: 100vh;
}

.suggest_item {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
    height: 150px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    background-position: center;
    background-size: cover;
}

/*.suggest_item a:hover .suggest_item_desc::after{
    content: "Читать";
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: all ease-in-out 0.2s;
}*/
.suggest_item img {
    width: 100%;
    min-height: 100px;
}
.suggest_item img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    top: 0;
    background: linear-gradient(rgba(43, 41, 36, 0.5), rgba(43, 41, 36, 0.75), #f3f3f3);
}
.suggest_item h3 {
    color: #eee;
}
.suggest_item span {
    color: #777;
}
.suggest_item_desc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 10px;
    font-size: 10px;
    height: 50px;
    transition: all ease-in-out 0.5s;
}
.suggest_item:hover .suggest_item_desc {
    height: 70%;
    transition: all ease-in-out 0.3s;
}
.hero {
    align-items: stretch;
    background-color: #2B2924;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
}
.hero-body {
    align-items: center;
    display: flex;
    width: 100%;
}
.hero-body {
    background: linear-gradient(rgba(43, 41, 36, 0.5), rgba(43, 41, 36, 0.75), #f3f3f3);
    z-index: 1;
}
.title {
    color: #fff;
    font-size: 30px;
}
/*.title::first-line  {
    color: #E74C3C;
}*/
.subtitle {
    color: #fff;
}

gallery {
    flex-flow: row wrap;
    display: flex;
}

gallery div {
    flex: auto;
    width: 250px;
    margin: 2px;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.2 );
    text-align: center;
}
.zoomable {
    transition: all ease-in-out 0.2s;
    position: relative;
    display: inline-block;
    line-height: 0px;
    text-align: center;
}
.zoomable:hover::after {
    content: '+';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
    font-size: 50px;
    text-align: right;
    padding-right: 20px;
    line-height: normal;
}
gallery div img {
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0 !important;
}




section.faq {
    background-color: #282741;/*2B2924*//*33414e*/
    width: 100%;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 210px;
    background-image: url(/assets/img/plugBG_ground.png);
    background-size: 700px;
    background-position: 0px 190px;
}
section.faq .block {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    background-color: #FFBE53;
    width: 100%;
    font-size: 25px;
    height: 120px;
    position: relative;
}
section.faq .one {
    border-radius: 20px 0 0 20px;
}
section.faq .three {
    border-radius: 0 20px 20px 0;
}
section.faq .block p{
    vertical-align: middle;
    padding-top: 10px;
    color: #fff;
}
section.faq .block a{
    color: #fff;
}
section.faq #arrow.block::after {
    content: "";
    background-color: #FFBE53;
    background-image: url(/assets/img/arrow_right_faq.png);
    background-repeat: no-repeat;
    background-size: 19px 50px;
    background-position: 0px;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
}
section.faq h1{
    color: #fff;
}


#tag {
    display: inline-block;
    padding: 3px 10px;
    background-color: #E74C3C;
    border-radius: 5px;
    color: #010101;
    margin-bottom: 5px;
    margin-right: 5px;
}
#tag:hover {
    background-color: #2C3E50;
    color: #fff;
}
.stickytop {
    position: fixed;
    left: 100;
    top: 100;
    z-index: 120;
}

.vk {
    padding-top: 20px;
}

.subscribe {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}
.subscribe .bg_mailbox{
    background-image: url(/assets/img/mailbox.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    border-radius: 10px 10px 0 0;
}
.subscribe h2 {
    color: #4A484C;
    margin: 10px 0;
}
.subscribe p {
    font-size: 12px;
    padding: 5px 20px;
}
.subscribe input {
    width: calc(100% - 40px);
    margin-left: 0px;
    padding: 5px 5px;
    margin-bottom: 20px;
    background: #E6F4FB;
}
.subscribe input::-webkit-input-placeholder {
    opacity: 0.4;
}
.subscribe input:-moz-placeholder {
    opacity: 0.4;
}
.subscribe input::-moz-placeholder {
    opacity: 0.4;
}
.subscribe input:-ms-input-placeholder {
    opacity: 0.4;
}
.subscribe button {
    
    border-radius: 23px;
    border: 3px #ffbe53 solid;
    background: #fff;
    color: #555;
    text-transform: uppercase;
    padding: 4px 34px;
    transition: 0.3s;
}
.subscribe button:hover {
    background-color: #ffbe53;
    transition: 0.3s;
    color: #fff;
}


.realmWhiter {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}
.realmWhiter h2 {
    margin: 5px 0;
}
.realmWhiter .bg_Whiter {
    background-image: url(/assets/img/plugBG.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.realmWhiter a {
    
    border-radius: 23px;
    border: 3px #ffbe53 solid;
    background: #fff;
    color: #555;
    text-transform: uppercase;
    padding: 4px 34px;
    transition: 0.3s;
    text-decoration: none;
}
.realmWhiter a:hover {
    background-color: #ffbe53;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
}
footer {
    position: relative;
    z-index: 10000;
    /*background: #33414e;*/
    background-color: #22292c;
    background-image: url(/assets/img/Stars_BG.png);
    min-height: 200px;
    width: 100%;
    /*padding-bottom: 30px;*/
}

.footer_logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/main_iconv2.png);
}
footer .footer_line {
    background-color: #181d1f;
    padding: 20px 0;
    width: 100%;
    color: #fff;
    margin-top: 30px;
}
footer .footer_line p{
    text-align: center;
    color: #fff;
}
footer h3 {
    color: #fff;
    /*text-shadow: 1px 1px 0px rgba(17, 22, 26, 1),
             2px 2px 0px rgba(17, 22, 26, 0.75),
             3px 3px 0px rgba(17, 22, 26, 0.3);*/
}
footer a {
    color: #fff;
}
footer a:hover{
    color: #ccc;
    text-decoration: none;
}
footer li:hover {
    color: #fff;
}
footer #gotop h1{
    color: #e35850;
    cursor: pointer;
    font-size: 21px;
}
.desc_main_page img {
    width: 100%;
}








.maineer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
}
.maineer .auth-blur{ /*ВАЖНО*/
    width: 628px;
    height: 345px;
    } 
.maineer .auth-background {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #2e3136;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
   -o-background-size:cover;
   -webkit-background-size:cover;
}
.maineer .auth-background, .auth-tiling-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.maineer .auth-background, .auth-tiling-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.maineer .auth-blur {
    overflow: hidden;
    border-radius: 3px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}
.maineer .auth-wrap-background.visible {
    opacity: 1;
}
.maineer .auth-wrap-background {
    -webkit-transition: opacity .5s cubic-bezier(.25,.25,.315,.86);
    transition: opacity .5s cubic-bezier(.25,.25,.315,.86);
    opacity: 0;
}
.maineer div.center_block {
    background: rgba(40,43,48,.75);
    width: 628px;
    height: 345px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  /*      border-radius: 3px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);*/
    border-radius: 15px;
}
.maineer .center_block .left_side {
    width: 40%;
    float: left;
    position: relative;
    background: #eee;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.maineer .center_block .left_side img{
    display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        /*opacity: 0.9;*/
    }
.maineer .center_block .left_side h2::before {
        content: "";
        background: rgba(40,43,48,.75);
        width: 100px;
        height: 8px;
        top: 0;
        left: 30%;
        text-align: center;
        position: absolute;
    }
.maineer .center_block .left_side h2{
        position: relative;
        text-align: center;
        /*font-family: 'Press Start 2P', cursive;*/
        /*font-family: 'Lobster', cursive;*/
        color: rgba(40,43,48,.75);
        padding: 30px 0;
    }
.maineer .center_block .right_side {
    width: 60%;
    float: right;
    text-align: center;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

.maineer .center_block .right_side p{
    
    color: #F04747;
}
.maineer .center_block .right_side a {
    color: #666;
    transition: 0.3s;
}
.maineer .center_block .right_side a:hover{
    text-decoration: none;
    color: #eee;
    transition: 0.3s;
}
.maineer .center_block .right_side .button:hover  {
    background-color: #c1523d;
}
.maineer .center_block .right_side .container_full_bg {
    text-align: left;
    padding: 20px;
}
.maineer .block400px {
    height: 400px !important;
}
.maineer .center_block .right_side button, input[type=submit], input[type=reset] {
    background-color: #d85a61  !important;
    width: 90%;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}
.container_full_bg #reg_q {
    color: #777;
}
.container_full_bg #reg_q a {
    text-decoration: underline !important;
    color: #eee !important;
}
.maineer .center_block .right_side button:hover , input[type=submit]:hover , input[type=reset]:hover {
    background-color: #bd464f !important;
}
.maineer .border_r_block {
    border-radius: 50px;
    position: relative;
}

.s2_input {
    width: 90% !important;
    background: rgba(15, 23, 37, 0.2) !important;
    border: 0 !important;
    border-radius: 1px !important;
    border-bottom: 1px rgba(237, 237, 237, 0.38) solid !important;
    transition: 0.4s;
    color: #eee !important;
    padding: 8px !important;
    font-size: 16px !important;
}
.s2_input::-webkit-input-placeholder{
    color: #888 !important;
}
.s2_input#password {
    color: #d75168 !important;
    transition: 0.2s;
}
.s2_input#captcha {
    width: 60% !important;
}
.s2_input#code {
    width: 100px !important;
}
.s2_input:focus {
    border-bottom: 2px #d75168 solid !important;
    transition: 0.2s;
    width: 100% !important;
    outline: none;
    box-shadow: none;
    background: rgba(15, 23, 37, 0.3) !important;
}
.s2_input#captcha:focus {
    width: 65% !important;
    outline: none;
    box-shadow: none;
}




.admin_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.admin_panel .left_side {
    background-color: #babec8;
    background-position: 35% 27%;
    background-repeat: no-repeat;
    background-size: 500px auto;
    /*padding-top: 130px;*/
    background-image: url(/assets/img/admin-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}/*
.admin_panel .left_side:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/
.admin_panel .left_side .header_content_panel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

}
.admin_panel .left_side .header_content_panel h1, .admin_panel .left_side .header_content_panel p{
    color: #fff;
}
.admin_panel .right_side {
    background-color: #f7f7f7;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}
 
.admin_panel .right_side ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
 
.admin_panel .right_side ul li {
    flex-grow: 1;
  /*  flex-shrink: 3;*/
    flex-basis: 200px; 
    list-style:none; 
    font: 11px/1.5 Verdana, Helvetica, Sans-serif;
    width: 16%;
    margin: 2% 2% 40px 2%;
    list-style: none;
    background-color: #fff;
    text-align: center;
    border-radius: 0 0 5px 5px;

}
 
 
.admin_panel .right_side ul li a { 
    color: #5d5f5d;
}
.right_side p{ 
    color: #5d5f5d;
}
.admin_panel .right_side ul li a img {
    width: 100%;
    height: 200px;
    background-color: #acbf26;
}
.admin_panel .right_side ul li .bg_admi {
        background-color: #848BA0;
        border-radius: 5px 5px 0 0;
    height: 300px;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.twitter-timeline {
    width: 100% !important;
}



section.about {
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 0px;
    z-index: 5;
    background-color: #303440;
    /*position: relative;*/
}

section.about::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/img/BG_Universe.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 1;
}
section.about .header,.main{
    position: relative;
    z-index: 10;
    padding: 40px 0;
    opacity: 0.9;
}
section.about .header p {
    font-size: 18px;
}
section.about::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/img/header_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 2;
}





















/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}







.advertising_art {
    margin-top: 20px;
    background-image: url(/assets/img/relam_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    transition: .3s;
    opacity: 0.95;
}
.advertising_art:hover {
    opacity: 1;
    transition: .3s;
}
.extended {
    width: 100%;
}









/* -------------------------------------------- */
/* Toggle Switch Globals
/* -------------------------------------------- */
.hamburger-icon {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }
.hamburger-icon:focus {
  outline: none; }
.hamburger-icon span {
  display: block;
  position: absolute;
  top: 29px;
  left: 24px;
  right: 24px;
  height: 2px; }
.hamburger-icon span::before,
.hamburger-icon span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  content: ""; }
.hamburger-icon span::before {
  top: -4px; }
.hamburger-icon span::after {
  bottom: -4px; }

/* -------------------------------------------- */
/* Hamburger Icon to (X) Close Icon
/* -------------------------------------------- */
.htx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s; }
.htx span::before,
.htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s; }
.htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform; }
.htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform; }

/* Left Nav - active state, i.e. menu open */
html.slideout-open .fixed-open-left #left-nav.hamburger-icon.htx span {
  background: none; }
html.slideout-open .fixed-open-left #left-nav.hamburger-icon.htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
html.slideout-open .fixed-open-left #left-nav.hamburger-icon.htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
html.slideout-open .fixed-open-left #left-nav.hamburger-icon.htx span::before,
html.slideout-open .fixed-open-left #left-nav.hamburger-icon.htx span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s; }

/* Right Nav - active state, i.e. menu open */
html.slideout-open .fixed-open-right #right-nav.hamburger-icon.htx span {
  background: none; }
html.slideout-open .fixed-open-right #right-nav.hamburger-icon.htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
html.slideout-open .fixed-open-right #right-nav.hamburger-icon.htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
html.slideout-open .fixed-open-right #right-nav.hamburger-icon.htx span::before,
html.slideout-open .fixed-open-right #right-nav.hamburger-icon.htx span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s; }


#left-nav {
  float: left; 
}
#right-nav {
  float: right; 
}
#right-menu.slideout-menu {
  left: auto; 
}

.slideout-panel {
  position: relative;
  z-index: 1; 
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; 
}
.slideout-open .slideout-menu {
  display: block; 
}

.fixed {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: fixed;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease; }
.fixed.fixed-open-left {
  -webkit-transform: translate3d(256px, 0px, 0px);
  transform: translate3d(256px, 0px, 0px); }
.fixed.fixed-open-right {
  -webkit-transform: translate3d(-256px, 0px, 0px);
  transform: translate3d(-256px, 0px, 0px); }

.page-wrapper {
  padding: 60px 10px 10px;
  background-color: #fff; 
}
